* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
    text-indent: 1rem;
    font-weight: bold;
    div.title {
        padding-left: 1rem;
        flex: 5 1 400px;
        display: flex;
        align-items: center;
        img {
            flex-direction: column;
            width: 6vw;
            height: 6vw;
        }
    }

    nav {
        flex: 2 1 400px;
        margin-right: 2rem;
        margin-left: 2rem;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                flex-direction: column;
                list-style-type: none;     
                a {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1.35rem;
                    color: rgb(3, 127, 127);
                    transition: all 0.1s ease;
                    &:hover {
                        color: rgb(6, 4, 118);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    div.title {
        img {
            width: 50px;
            min-height: 50px;
        }
    } 
}
